@import "../sass/_variables";

@mixin container {
  margin: 0 8% 0 10%;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}