@import "../../sass/_variables";
@import "../../sass/_mixins";

.blog__item {
  width:100%;
  padding: 35px 0 15px;
}

.blog__item_odd {
  background-color: $light-grey;
}

.blog__item_wrapper {
  @include container;
}

.blog__line {
  display: block;
  height: 1px;
  margin: 66px 0 95px 10px;
  width: 98%;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-back {
  position: relative;
  display: block;
  width: 80px;
  padding: 15px 0 15px 58px;
  margin-top: 10px;
  margin-bottom: 40px;
  
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 28px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    width: 15px;
    height: 15px;
  }
}

#postsDetail {
  display: none;
}



