@import "../../sass/_variables";
@import "../../sass/_mixins";

.blog__item {
  width:100%;
  padding: 35px 0 15px;
}

.blog__item:nth-child(even) {
  background-color: $light-grey;
}

.blog__item_wrapper {
  @include container;
}