@import "../../sass/_variables";
@import "../../sass/_mixins";

.blog__item {
  width:100%;
  padding: 35px 0 15px;
}

.blog__item:nth-child(even) {
  background-color: $light-grey;
}

.blog__item_wrapper {
  @include container;
  hr {
    margin-left: 10px;
    width: 95%;
  }
}

.btn-back {
  font-size: 18px;

  
  span {
    font-size: 60px;
    font-weight: 200;
    vertical-align: bottom;
  }
}

.btn-back__img {
  display: block;
  background: url("../../img/arrow-back.png") top left no-repeat;
  width: 30px;
  height: 30px;
}


