@import "../../sass/_variables";
@import "../../sass/_mixins";

.create-post {
  background-color: $grey;  
}

.create-post__wrapper {
  @include container;
  padding: 20px 0 80px;;
}

h2 {
  font-size: 20px;
}

.form__row {
  display: block;
  width: 100%; 

}

input:not([type="submit"]), textarea{
  width:96%;
  padding: 15px 0 10px 25px;
  margin-bottom: 15px;  
  
  @include placeholder() {
    color: #b8b8b8;
    font-size: 15px;
  }
}

input[type="submit"] {
  float: right;
  width: 290px;
  padding: 10px;
  background-color: $dark-grey;
  color: $light-grey;
  border: 1px solid $dark-grey;

  @include clearfix;
}

.not-filled {
  border: 1px solid red;
}



