@import "../../sass/_variables";
@import "../../sass/_mixins";

.footer__wrapper{
  @include container;
  margin-bottom: 50px;
  
  .btn_more {
    display: none;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 0;
    text-align: center;
    font-weight: 300;
  }
}